<ion-card>
  <ion-card-header>
    <ion-card-title text-center>{{lecturesDate | date :'EE. dd.MM.yy'}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let lecture of lectureList">
        <ion-label>
          <p><strong>{{lecture.title}}</strong></p>
          <p>{{lecture.start | date :'HH:mm' :'de-DE'}} - {{lecture.end | date :'HH:mm'}}</p>
          <p><span float-left>{{lecture.location}}</span><span float-right>{{lecture.description}}</span></p>
        </ion-label>
      </ion-item>

    </ion-list>
  </ion-card-content>
</ion-card>
