<ion-header>
    <ion-toolbar>
        <ion-title>Vorlesungen</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col size-md="6" offset-md="3">
                <!--<ion-segment (ionChange)="segmentChanged($event)" value="future">
                    <ion-segment-button value="future">
                        <ion-label>zukünftige Vorlesungen</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="all">
                        <ion-label>alle Vorlesungen</ion-label>
                    </ion-segment-button>
                </ion-segment>-->
                <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searching()" *ngIf="lectureMap.size > 0 || searchTerm != ''"></ion-searchbar>
                <ion-list>
                    <ion-card *ngIf="lectureMap.size == 0 && searchTerm == ''">
                        <ion-card-header>
                            <ion-card-title text-center>Keine aktuellen Vorlesungen für diesen Kurs</ion-card-title>
                        </ion-card-header>
                    </ion-card>
                    <app-lecture-item *ngFor="let lectureEntry of lectureMap | keyvalue:dateComparator" [lectureList]="lectureEntry.value" [lecturesDate]="lectureEntry.key"></app-lecture-item>
                </ion-list>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>