<ion-header>
    <ion-toolbar>
        <ion-title>About</ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)='close()'><i class="fas fa-times"></i></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>Developers</ion-list-header>
        <ion-item>
            <ion-avatar slot="start">
                <img src='assets/images/25184990.jpeg'>
            </ion-avatar>
            <ion-label>
                <h4>Supporterino</h4>
                <p>Lead Developer</p>
                <hr>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src='assets/images/39572273.png'>
            </ion-avatar>
            <ion-label>
                <h4>slPeye</h4>
                <p>UI Developer</p>
                <hr>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src='assets/images/44895735.png'>
            </ion-avatar>
            <ion-label>
                <h4>Heliox9</h4>
                <p>Secret-Feature Developer</p>
                <hr>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src='assets/images/38286173.png'>
            </ion-avatar>
            <ion-label>
                <h4>niklaskoopmann</h4>
                <p>UI Developer eventually</p>
                <hr>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>Versions</ion-list-header>
        <ion-item>
            <ion-avatar slot="start">
                <img src='assets/icon/favicon.png'>
            </ion-avatar>
            <ion-label>
                <h4>StuV Companion</h4>
                <p>1.0.0</p>
                <hr>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src='assets/images/blog-logo.png'>
            </ion-avatar>
            <ion-label>
                <h4>Ionic Framework</h4>
                <p>5.2.0</p>
                <hr>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src='assets/images/5847ea22cef1014c0b5e4833.png'>
            </ion-avatar>
            <ion-label>
                <h4>Angular</h4>
                <p>7.3.9</p>
                <hr>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src='assets/images/logo-cordova.svg'>
            </ion-avatar>
            <ion-label>
                <h4>Cordova</h4>
                <p>8.1.2</p>
                <hr>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>