.dark-red {
  --background-color1: var(--ion-color-dark-tint);
  --background-color2: var(--ion-color-dark);
  --background-color3: var(--ion-color-dark-shade);
  --text-color1: var(--ion-color-dark-contrast);
  --text-color2: var(--ion-color-medium);
  --highlight-color: var(--ion-color-danger-tint);

  ion-content,
  ion-list,
  ion-item,
  ion-card-title{
    --background: var(--background-color1);
    --color: var(--text-color1);
  }

  ion-list{
    background: var(--background-color1);
  }

  .lectureItem{
    ion-item, ion-list{
      background: var(--background-color2);
      --background: var(--background-color2);
      --border-color: var(--text-color2);
    }
  }

  ion-tab-bar{
    --background: var(--background-color3);
  }

  ion-tab-button {
    --background: var(--background-color3);
    --color-selected: var(--highlight-color);
    --ripple-color: var(--highlight-color);
  }

  ion-card,
  ion-card-header{
    --background: var(--background-color2);
  }

  ion-button,
  ion-badge,
  ion-toolbar{
    --background: var(--highlight-color);
    --color: var(--text-color1);
  }

  a{
    color: var(--highlight-color);
  }

  ion-card-subtitle,
  p{
    --color: var(--text-color2) !important;
    color: var(--text-color2) !important;
  }

  ion-toast{
    --button-color: var(--highlight-color);
  }


  ion-alert {
    --background: var(--background-color1);

    .alert-title,
    .alert-radio-label{
      color: var(--text-color1);
    }

    .alert-radio-group{
      border-top: 1px solid var(--text-color1);
      border-bottom: 1px solid var(--text-color1);
    }

    .alert-button-inner{
      color: var(--highlight-color);
    }

    .alert-radio-inner{
      background-color: var(--background-color1);
    }

    [aria-checked=true] {
      .alert-radio-icon{
        border-color: var(--highlight-color) !important;
      }
      .alert-radio-label{
        color: var(--highlight-color) !important;
      }

      .alert-radio-inner.sc-ion-alert-md{
        background-color: var(--highlight-color) !important;
      }
      .alert-radio-inner{
        border-color: var(--highlight-color) !important;
      }
    }


  }
  ion-segment {
    ion-segment-button {
      --color-activated: var(--highlight-color);
      --indicator-color-checked: var(--highlight-color);
      --color: var(--text-color1);
      --background-hover: var(--background-color3);
      --background-activated: var(--highlight-color);
      --color-checked: var(--highlight-color);
    }
  }
  ion-list-header {
    --background: var(--background-color3);
    --color: var(--text-color1);
  }
}
