// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
// themes
@import 'theme/dark-mint.theme';
@import 'theme/dark-red.theme';
@import 'theme/dark-blue.theme';
@import 'theme/light-blue.theme';
@import 'theme/light-mint.theme';
@import 'theme/light-red.theme';
@import 'theme/dark-dhbw-red.theme';
@import 'theme/light-dhbw-red.theme';
@import 'theme/greyness.theme';
ion-card img {
    display: inline-block !important;
    width: auto !important;
    height: auto;
}
