<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="data">
    <ion-row>
      <ion-col size-md="6" offset-md="3">
          <!-- Events -->
          <div *ngIf="events">
              <ion-label text-wrap>Heutige Events:</ion-label>
              <ion-list>
                  <app-event-item *ngFor="let event of data[3]" [event]="event"></app-event-item>
              </ion-list>
          </div>

          <!-- lectures -->
          <div *ngIf="lectureMap.size > 0">
              <ion-label text-wrap>Heutige Vorlesungen:</ion-label>
              <ion-list>
                  <app-lecture-item *ngFor="let lectureEntry of lectureMap | keyvalue:dateComparator" [lectureList]="lectureEntry.value" [lecturesDate]="lectureEntry.key"></app-lecture-item>
              </ion-list>
          </div>

          <!-- News -->
          <div *ngIf="news.size > 0">
              <ion-label text-wrap>Heutige News:</ion-label>
              <ion-list>
                  <app-news-item *ngFor="let newsItem of data[2]" [news]="newsItem"></app-news-item>
              </ion-list>
          </div>

          <!-- Mensaplan -->
          <div *ngIf="meals.size > 0">
              <ion-label text-wrap>Heutiges Essen:</ion-label>
              <ion-card *ngFor='let mens of data[0]'>
                  <ion-card-header>
                      <ion-card-title text-center>Mensaplan gültig bis {{mens.validUntil}}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>

                      <ion-card [hidden]="selection[1]">
                          <ion-card-header>
                              <ion-card-title text-center>Montag</ion-card-title>
                          </ion-card-header>
                          <ion-card-content>
                              <ion-item *ngFor="let item of mens.montag">
                                  <ion-label text-wrap>
                                      <p>{{item}}</p>
                                  </ion-label>
                              </ion-item>
                          </ion-card-content>
                      </ion-card>

                      <ion-card [hidden]="selection[2]">
                          <ion-card-header>
                              <ion-card-title text-center>Dienstag</ion-card-title>
                          </ion-card-header>
                          <ion-card-content>
                              <ion-item *ngFor="let item of mens.dienstag">
                                  <ion-label text-wrap>
                                      <p>{{item}}</p>
                                  </ion-label>
                              </ion-item>
                          </ion-card-content>
                      </ion-card>

                      <ion-card [hidden]="selection[3]">
                          <ion-card-header>
                              <ion-card-title text-center>Mittwoch</ion-card-title>
                          </ion-card-header>
                          <ion-card-content>
                              <ion-item *ngFor="let item of mens.mittwoch">
                                  <ion-label text-wrap>
                                      <p>{{item}}</p>
                                  </ion-label>
                              </ion-item>
                          </ion-card-content>
                      </ion-card>

                      <ion-card [hidden]="selection[4]">
                          <ion-card-header>
                              <ion-card-title text-center>Donnerstag</ion-card-title>
                          </ion-card-header>
                          <ion-card-content>
                              <ion-item *ngFor="let item of mens.donnerstag">
                                  <ion-label text-wrap>
                                      <p>{{item}}</p>
                                  </ion-label>
                              </ion-item>
                          </ion-card-content>
                      </ion-card>

                      <ion-card [hidden]="selection[5]">
                          <ion-card-header>
                              <ion-card-title text-center>Freitag</ion-card-title>
                          </ion-card-header>
                          <ion-card-content>
                              <ion-item *ngFor="let item of mens.freitag">
                                  <ion-label text-wrap>
                                      <p>{{item}}</p>
                                  </ion-label>
                              </ion-item>
                          </ion-card-content>
                      </ion-card>

                  </ion-card-content>
              </ion-card>
          </div>


      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
