<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">

<!-- Mensaplan -->
          <ion-card *ngFor='let mens of mensa'>
            <ion-card-header>
              <ion-card-title text-center>Mensaplan gültig bis {{mens.validUntil}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>

              <ion-card>
                <ion-card-header>
                  <ion-card-title text-center>Montag</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-item *ngFor="let item of mens.montag">
                      <ion-label text-wrap>
                        <p>{{item}}</p>
                      </ion-label>
                    </ion-item>
                </ion-card-content>
              </ion-card>

              <ion-card>
                <ion-card-header>
                  <ion-card-title text-center>Dienstag</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-item *ngFor="let item of mens.dienstag">
                      <ion-label text-wrap>
                        <p>{{item}}</p>
                      </ion-label>
                    </ion-item>
                </ion-card-content>
              </ion-card>

              <ion-card>
                <ion-card-header>
                  <ion-card-title text-center>Mittwoch</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-item *ngFor="let item of mens.mittwoch">
                      <ion-label text-wrap>
                        <p>{{item}}</p>
                      </ion-label>
                    </ion-item>
                </ion-card-content>
              </ion-card>

              <ion-card>
                <ion-card-header>
                  <ion-card-title text-center>Donnerstag</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-item *ngFor="let item of mens.donnerstag">
                      <ion-label text-wrap>
                        <p>{{item}}</p>
                      </ion-label>
                    </ion-item>
                </ion-card-content>
              </ion-card>

              <ion-card>
                <ion-card-header>
                  <ion-card-title text-center>Freitag</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-item *ngFor="let item of mens.freitag">
                      <ion-label text-wrap>
                        <p>{{item}}</p>
                      </ion-label>
                    </ion-item>
                </ion-card-content>
              </ion-card>

            </ion-card-content>
          </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
