<ion-header>
    <ion-toolbar>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col size-md="6" offset-md="3">

                <ion-grid>
                    <ion-row *ngIf="events.length > 0">
                        <ion-card>
                            <ion-card-header>
                                <ion-card-title text-center>Events</ion-card-title>
                            </ion-card-header>
                        </ion-card>

                        <ion-list>
                            <app-event-item *ngFor="let event of events" [event]="event"></app-event-item>
                        </ion-list>
                    </ion-row>

                    <ion-row *ngIf="lectureMap.size > 0">
                        <ion-card>
                            <ion-card-header>
                                <ion-card-title text-center>Vorlesungen</ion-card-title>
                            </ion-card-header>
                        </ion-card>

                        <ion-list>
                            <app-lecture-item *ngFor="let lectureEntry of lectureMap | keyvalue:dateComparator" [lectureList]="lectureEntry.value" [lecturesDate]="lectureEntry.key"></app-lecture-item>
                        </ion-list>
                    </ion-row>

                    <ion-row *ngIf="news.length > 0">
                        <ion-card>
                            <ion-card-header>
                                <ion-card-title text-center>News</ion-card-title>
                            </ion-card-header>
                        </ion-card>

                        <ion-list>
                            <app-news-item *ngFor="let newsItem of news" [news]="newsItem"></app-news-item>
                        </ion-list>
                    </ion-row>

                    <ion-row *ngIf="mealplan.days.length > 0">
                        <ion-card>
                            <ion-card-header>
                                <ion-card-title text-center>Essen</ion-card-title>
                            </ion-card-header>
                        </ion-card>

                        <ion-card>
                            <ion-card-header>
                                <ion-card-title text-center>Mensaplan gültig bis {{mealplan.validUntil}}</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                
                                <ion-segment (ionChange)="segmentChanged($event)" value="today">
                                    <ion-segment-button value="today">
                                      <ion-label>Heute</ion-label>
                                    </ion-segment-button>
                                    <ion-segment-button value="complete">
                                      <ion-label>ganze Woche</ion-label>
                                    </ion-segment-button>
                                  </ion-segment>

                                <ion-card *ngFor="let day of mealplan.days" [hidden]="!day.active">
                                    <ion-card-header>
                                        <ion-card-title text-center>{{day.name}}</ion-card-title>
                                    </ion-card-header>
                                    <ion-card-content>
                                        <ion-item *ngFor="let item of day.meals">
                                            <ion-label text-wrap>
                                                <p>{{item}}</p>
                                            </ion-label>
                                        </ion-item>
                                    </ion-card-content>
                                </ion-card>

                            </ion-card-content>
                        </ion-card>
                    </ion-row>
                </ion-grid>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>