<ion-header>
  <ion-toolbar>
    <ion-title>Einstellungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">

        <ion-list>
            <ion-item>
              <ion-label>Kurs</ion-label>
              <ion-badge slot="end">{{course}}</ion-badge>
            </ion-item>
        </ion-list>

      <ion-button expand="block" fill="solid" (click)="reset()">Reset</ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
