<ion-header>
  <ion-toolbar>
    <ion-title>Einstellungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">

        <form [formGroup]="settingsForm">
          <ion-list>
              <ion-item>
                  <ion-label>Kurs</ion-label>
                  <ionic-selectable
                          #courseSelector
                          formControlName="course"
                          [items]="courses"
                          [canSearch]="true"
                          placeholder="Select One"
                          (onChange)="courseChanged($event)">
                  </ionic-selectable>
              </ion-item>
              <ion-item>
                  <ion-label>Theme</ion-label>
                  <ionic-selectable
                          formControlName="theme"
                          [items]="themes"
                          itemValueField="classId"
                          itemTextField="name"
                          [canSearch]="true"
                          placeholder="Select One"
                          (onChange)="themeChanged($event)">
                  </ionic-selectable>
              </ion-item>
              <ion-item>
                <ion-button expand="full" fill="clear" (click)="sendBugReport()"><span>Report a Bug!</span></ion-button>
              </ion-item>
              <ion-item>
                <ion-button expand="full" fill="clear" (click)="showAbout()"><span>About</span></ion-button>
              </ion-item>
          </ion-list>
      </form>

        <!-- <ion-list>
            <ion-item>
              <ion-label>Kurs</ion-label>
              <ion-badge slot="end">{{course}}</ion-badge>
            </ion-item>
        </ion-list>

      <ion-button expand="block" fill="solid" (click)="reset()">Reset</ion-button> -->

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
